[core]
default-scheduler-url=http://18.191.159.59:8082
log_level=ERROR
parallel_scheduling=true
parallel-scheduling-processes=8

[scheduler]
retry_count=0
worker_disconnect_delay=30

[worker]
# force_multiprocessing=true

[cases]
resources_dir=/root/pipeline/resources
code_dir=/root/pipeline/code
fasta_file=/root/pipeline/resources/genome/hg19/ucsc.hg19.fasta
germline_indels=/root/pipeline/resources/broad/hg19/1000G_phase1.indels.hg19.sites.vcf.gz
germline_all=/root/pipeline/resources/broad/hg19/dbsnp_138.hg19.vcf.gz
germline_genes=/root/pipeline/resources/regions/hg19/germline_genes.bed
gnomad=/root/pipeline/resources/broad/hg19/af-only-gnomad.raw.sites.hg19.vcf.gz
library_bed=/root/pipeline/resources/regions/hg19/SeqCap_EZ_Exome_v3_hg19_analysis_ready.bed
germline_bed=
platform=Illumina
library=SeqCapEZ3.0